*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
/* side menu */
.sideMenu{
    width: 3.5%;
    height: 100%;
    transition: ease .2s;
    position: fixed;
    z-index: 990;
    background-color: #52143E;
}
/* .sideMenu:hover{
    width: 18%;
} */
.sideMenu ul{
    background-color: #52143E;
    height: 100%;
    width: 100%;
}
.sideMenu ul li{
    cursor: pointer;
    list-style-type: none;
    line-height: 30px;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    text-overflow: inherit;
    white-space: nowrap;
    overflow: hidden;
}
.sideMenu ul li:hover{
    font-weight: 650;
    background-color: #ffffff73;
}
.sideMenu ul li:first-child{
    margin-bottom: 10px;
}
.active{
    border-left: solid 5px rgb(248, 76, 76);
    font-weight: 650;
    background-color: #ffffff73;
}
.sideMenu ul li i{
    font-size: 18px;
    margin-right: 15px;
}

/* container */
.dashContain{
    width: 100%;
    margin-left: 40px;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
.contenue{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.UserProfil{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../image/cource_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.UserType{
    font-size: 14px;
    color: rgb(116, 111, 111);
    cursor: pointer;
    padding: 9px;
    border-radius: 2px;
}
.UserType:hover{
    background-color: #f2f3f5;
}
.notification{
    cursor: pointer;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
}
.notification:hover{
    border: solid 1px#f2f3f5;
    background-color: #f2f3f5;
}
.dashContain > h1{
    font-weight: 700;
    line-height: 100px;
    font-size: 32px;
    padding-left: 30px;
    color: #29303b;
}
.test{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
}
.menu{
    padding-left: 30px;
    display: flex;
}
.menu li{
    list-style: none;
    font-size: 13px;
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    cursor: pointer;

    
}
.menu li:hover,.itemAcitive{
    border-bottom: solid 5px rgb(248, 76, 76);
    font-weight: 620;
}

/* formulaire items */
.menu_contain{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex;
    justify-content:flex-start;
}
.UserInfo{
    width: 43%;
}
.userSocialInfo{
    width: 50%;
    margin-left: 50px;
}
.formItem{
    display: flex;
    flex-wrap: wrap;
}
label,input{
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #8a92a3;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}
label{
    font-size: 14px;
    border: none; 
    padding-left: 0px;
}
.class{
    width: 100%;
    display: flex;
}
.class label{
    background-color: #f2f3f5;
    border: 1px solid #8a92a3;
    border-right: inherit;
    border-top-right-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
    padding-left: 10px;
    width: auto;
}
.class input{
    border-top-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}

/* sauvegarder */

.enregistrer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.btn{
    width: 115px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(248, 76, 76);
    padding: 7px;
    padding-left: 15px;
    border: solid 1px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

/* biographie */
.biographie > p{
    font-size: 10px;
    color: #8A92A3;
    margin-top: 10px;
}
.text-area{
    text-align: justify;
    border: solid 1px;
    font-size: 13px;
    background: #FFF;
    color: #29303b;
    line-height: 1.43;
    background: transparent;
    border: 1px solid #8A92A3;
    border-radius: 2px;
    overflow: auto;
    padding: 20px;
    position: relative;
    outline: none;
}
.text-area p:first-child{
    margin-bottom: 30px;
}
.text-area p:last-child{
    margin-top: 10px;
}

