*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}


/* header*/
header{
    height: 550px;
    position: relative;
    background: url("../image/breadcrumb.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* nav */
.navMenu{
    height: 12%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000001;
    position: fixed;
}
.navContent{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navContent > span:first-child{
    color: rgb(60, 121, 235);
    border: solid 1px;
    width: 140px;
    padding: 7px;
    font-size: 14px;
}
.navContent a{
    text-decoration: none;
    color: rgb(60, 121, 235);
}

.navContent > span:nth-child(2){
    height: 90%;
    width: 200px;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: rgb(60, 121, 235);
}
.connect{
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}
.connect > span{
    width: 100%;
}
.login{
    border: inherit;
}
.registate{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
}
.registate a{
    color: #ffffff !important;
}
/* sub__menu for responsive */
.responsive{
    position: absolute;
    top: 0px;
    width: 50%;
    left: 0px;
    left: -100%;
    height: 540px;
    background-color: rgba(255, 254, 254, 0.979);
    transition: all .3s;
    
}
.responsive > span{
    display: block;
    width: 100%;
    text-align: center;
}
.responsive .connect span{
    display: block;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px ;
    border-radius: 2px;
    background-color: #ffffff;

}
.responsive .connect .registate{
    border: none;
}
.responsive .connect{
    margin-top: 10px;
    line-height: 35px;
}
.responsive > span:first-child{
    margin-top: 35px;
    text-align: left;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.navContent > span:last-child{
    display: none;
}
/* responsive pour le nav menu */
@media(max-width:650px){
    .connect{
        width: 25%;
    }
}
@media(max-width:570px){
    .connect{
       display: none;
    }
    .navContent{
        flex-direction: row-reverse;
    }
    .navContent > span:first-child{
        display: none;
    }
    .navContent > span:last-child{
        display: block;
        font-size: 25px;
        font-weight: 800;
        color: rgb(60, 121, 235);
    }
    .navContent > span:nth-child(2){
        height: 90%;
        width: 200px;
        font-weight: 800;
        font-size: 20px;
        text-align: right;
        color: rgb(60, 121, 235);
    }
    .responsive{
        width: 70%; 
    }
}
@media(max-width:330px){
    .navContent{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navContent > span:nth-child(2){
        height: 100%;
        width: auto;
        line-height: 30px;
    }
    
}
@media(max-width:280px){
    .responsive{
        width: 90%; 
    }
}
/* baniere */
.textContain{
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 85%;
    transform: translateY(-80%);
    font-size: 26px;
}
.filigramme{
    background-color: rgba(0, 0, 0, 0.726);
    height: 100%;
}
.textContain h2{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 20px;
    font-weight: normal;
}

.textContain a{
    color: #ffffff;
    text-decoration: none;
}
p{
    padding-left: 5px;
    padding-right: 5px;
}