*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    transition: cubic-bezier(1, 0, 0, 1) 500ms;
    box-sizing: border-box;
}
.navbar{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#nav-bar .containss{
    width: 100%;
    position: fixed;
}

.navbar-brand b{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 500;
    height: auto;
}


.navbar-nav {
    margin-left: 25%;
}

.navbar-nav li{
    text-align: center;
    min-width: 90px;
}

.navbar-nav li a{
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #f5b731!important;
}
.nav-item:focus{
    transition: ease-in-out 1s;
}
.dropdown-menu{
    height: auto;
    align-content: center;
    border: none;
    background: transparent;
}
.dropdown-menu .dropdown-item{
    padding-top: 10px;
    box-sizing: border-box;
}
.dropdown-menu .dropdown-item:hover{
    background: whitesmoke;
    color: gold;
    transition: ease-in-out 700ms;
}


header form input:focus,
header form input:active,
header form input:hover{
    outline: none;
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    max-width: 700px;
    transition: ease-in 1s;
}
form .btn{
    background: linear-gradient(to left, #ee390f 0%, #f9b700 0%, #ee390f 90%);
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 35px;
    border: none;
}
form .btn:hover{
    transition: all ease-in-out 1s;
    background: linear-gradient(to right, #ee390f 0%, #f9b700 0%, #ee390f 90%);
}


.contain,.container-fluide{
    box-sizing: border-box;
}
@media(max-width:1200px){
    .contain{
        padding: 0px;
    }
}